.contentAll {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background: url("../../images/fondoDrop.svg");
  background-size: 100%;
  background-attachment: fixed;
}

.contentPhotos {
  width: 100%;
  min-height: 90vh;
  padding: 1rem 0 0 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.contentText {
  width: 100%;
  margin-top: 2rem;
}

.contentText p {
  margin: -1rem 0 0 0;
  color: #999;
}

.contentPhotos h4 {
  text-align: center;
}
