.contentAll {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../../images/fondoDrop.svg");
  background-size: 100%;
}

.contentUploader {
  width: 80%;
}

.contentUploader p {
  margin: -1rem 0 4rem 0;
  color: #9f9fa1;
}
.contentUploader label {
  cursor: pointer;
}

.contentUploader input {
  display: none;
}
