.contentAll {
  background: rgb(46, 52, 57);
  background: linear-gradient(
    318deg,
    rgba(46, 52, 57, 1) 0%,
    rgba(44, 64, 71, 1) 53%,
    rgba(43, 67, 75, 1) 60%,
    rgba(42, 78, 89, 1) 82%,
    rgba(41, 82, 94, 1) 100%,
    rgba(28, 159, 189, 1) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}

.contentPresentation {
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 0 0 10rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
}

.contentText h1 {
  margin: 0;
  font-size: 4rem;
}

.contentText p {
  font-size: 1.8rem;
  margin-top: -0.5rem;
}

.buutonLestsGo {
  text-decoration: none;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
}

.contentAll img {
  width: 600px;
  padding: 0;
}

.networks {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
}

.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  animation: arrow 2s linear infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.networks a {
  color: #fff;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding-right: 3rem;
  color: #fff;
}

.contentInfo h6 {
  font-size: 2rem;
  margin: 0;
}

.contentInfo p {
  font-size: 1.5rem;
  text-align: start;
}

.info img {
  width: 600px;
  height: 300px;
  border-radius: 20px;
}
