.contentAll {
  background: url("../../images/backfround.svg");
  background-size: 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.contentPresentation {
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 0 0 10rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
}

.contentText h1 {
  margin: 0;
  font-size: 4rem;
  background-color: transparent;
  background: linear-gradient(rgba(0, 241, 237, 1), rgba(0, 241, 237, 0));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contentText p {
  font-size: 1.8rem;
  margin-top: -0.5rem;
}

.buutonLestsGo {
  text-decoration: none;
  width: max-content;
  background-color: #222;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
}

.contentAll img {
  width: 600px;
  padding: 0;
}

.networks {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
}

.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  animation: arrow 2s linear infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.networks a {
  color: #fff;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.contentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding-right: 3rem;
  color: #fff;
}

.contentInfo h6 {
  font-size: 2rem;
  margin: 0;
}

.contentInfo p {
  font-size: 1.5rem;
  text-align: start;
}

.info img {
  width: 600px;
  height: 300px;
  border-radius: 20px;
}
