.contentAll {
  background: url("../../images/fondoDrop.svg");
  background-size: 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.contentPresentation {
  min-height: 100vh;
  color: #222;
  display: flex;
  align-items: center;
  padding: 0 0 0 10rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
}

.title {
  margin: 0;
  font-size: 3rem;
  color: #2c8cf8;
}

.titleAnimation {
  margin: 0;
  font-size: 3rem;
  color: #2c8cf8;
  animation: scale-down-top-right 0.8s forwards;
}

.subtitle {
  font-size: 1.3rem;
  margin-top: -0.5rem;
  font-weight: bold;
}

.subtitleAnimation {
  font-size: 1.5rem;
  font-weight: bold;
  animation: scale-down-top-right 0.8s forwards;
}

@keyframes scale-down-top-right {
  0% {
    transform: scale(1);
    transform-origin: right top;
  }
  100% {
    transform: scale(0.5);
    transform-origin: right top;
  }
}

.buutonLestsGo {
  text-decoration: none;
  width: max-content;
  background-color: #2c8cf8;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.contentImg {
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.contentImgAnimation {
  animation: scale-down-top-left 0.8s forwards;
}

@keyframes scale-down-top-left {
  0% {
    transform: scale(1);
    transform-origin: left top;
  }
  100% {
    transform: scale(0.5);
    transform-origin: left top;
  }
}

.networks {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
}

/* .arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  animation: arrow 2s linear infinite;
} */

/* @keyframes arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
} */

.networks a {
  color: #2c8cf8;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.contentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding-right: 3rem;
  color: #222;
}

.contentInfo h6 {
  font-size: 2rem;
  margin: 0;
}

.contentInfo p {
  font-size: 1.5rem;
  text-align: start;
}

.panelImage {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
