.contentAll {
  width: 25%;
  height: 95%;
  border-top-right-radius: 40px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  /* background: rgb(46, 52, 57);
  background: linear-gradient(
    318deg,
    rgba(46, 52, 57, 1) 0%,
    rgba(44, 64, 71, 1) 53%,
    rgba(41, 82, 94, 1) 70%,
    rgba(33, 129, 152, 1) 89%,
    rgba(28, 159, 189, 1) 100%
  ); */
  background: rgb(46, 52, 57);
  background: linear-gradient(
    318deg,
    rgba(46, 52, 57, 1) 0%,
    rgba(44, 64, 71, 1) 53%,
    rgba(43, 67, 75, 1) 60%,
    rgba(42, 78, 89, 1) 82%,
    rgba(41, 82, 94, 1) 100%,
    rgba(28, 159, 189, 1) 100%
  );
}

.buttonBack {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 0.2rem;
  top: 50px;
  left: 0;
}

.search {
  cursor: pointer;
  width: 150px;
  display: flex;
  align-items: center;
  margin: 3rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0.3rem 1.2rem;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
}

.search input {
  width: 80%;
  padding-left: 1rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.search input::placeholder {
  color: #fff;
}

.menus {
  color: #fff;
  text-decoration: none;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.menus p {
  font-size: 1.2rem;
  margin-left: 1rem;
}
