.contentAll {
  width: 200px;
  height: 95vh;
  border-top-right-radius: 40px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #222;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.buttonBack {
  color: #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.2rem;
  width: 100%;
}

.contentButtonsData {
  margin-top: 2rem;
}

.navegationButtons {
  border-top: 1px solid #ddd;
  width: 180px;
}

.links {
  text-decoration: none;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #222;
}

.titleLinkActive {
  text-decoration: none;
  width: 150px;
  position: relative;
  margin-left: -3rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #2c8cf8;
  background-color: #eff7ff;
  border-radius: 20px;
}

.links p,
.titleLinkActive p {
  font-size: 1.2rem;
  margin-left: 1rem;
}
