.contentList {
  background-color: #fff;
  width: 75%;
  height: 90%;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 40px;
}

.contentList h6 {
  font-size: 2.2rem;
  color: #000;
  margin: 1rem 2rem;
  text-align: start;
}

.referencies {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #777;
}

.contentText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
}

.contentMsj {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentMsj h6 {
  margin: 0;
  text-align: center;
}
