@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

body {
  margin: 0;
  font-family: "DM Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
